{% extends "default.html" %}
{% block title %}{{titulo}}{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <form action="crear_categoria" method="post">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="categoria">Nombre Categoria</label>
        <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Nombre Categoria">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
{% endblock %}